# Prisma Postgres connection string (from console.prisma.io)
DATABASE_URL="postgres://USER:PASSWORD@pooled.db.prisma.io:5432/postgres?sslmode=require"

# Can be generated using `npx auth secret` (compulsory)
AUTH_SECRET="xxxxxxxx"

# Required for Auth.js to trust the host on deployed environments
AUTH_TRUST_HOST="true"

# https://authjs.dev/getting-started/providers/github
AUTH_GITHUB_ID="xxxxxx"
AUTH_GITHUB_SECRET="xxxxxx"

# https://authjs.dev/getting-started/providers/google 
AUTH_GOOGLE_ID="xxxxxx"
AUTH_GOOGLE_SECRET="xxxxxx"
